<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <%- include("./layout.ejs") %>

    <div style="margin-top: 5%; width: 60%; margin-left: auto; margin-right: auto;">
        <h2 style="font-style: italic; text-align: center;">Welcome to Game Stop! Where all your Favourite Genres Combine</h2>
        <img style="width: 100%; margin-left: auto; margin-right: auto;" src="https://a.storyblok.com/f/106061/1920x1080/068f0b6254/video-games-release-dates.jpg" />
        <p style="font-style: italic; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Game Stop: An Ultimate Stop for Gamers</p>



    </div>
    
</body>
</html>

